body{
    padding: 15px;
}

td{
    max-width: fit-content;
}

.row{
    margin-left: 0;
}

.jumbotron{
    min-height: 75vh;
    min-width: fit-content;
    max-width: 100vw;
    margin-bottom: 20px;
    color: white;
    margin-top: 5px;
    
}

.table{
    min-height: fit-content;
    min-width: 40vh;
    margin-top: 2px;
    text-align: left;
    color: white;
    border-top: 0px;
    border-radius: 5px;
}

.form-control{
    margin-top: 5px;
}

.btn{
    margin-top: 5px;
}


.form-bar{
    box-sizing: border-box;
    margin-left: auto;
}