
.jumbotron{
    color: white;
    text-align: left;
    margin-top: 10px;
    margin-right: 27px;
    margin-left: 27px;
}

.table{
    margin-top: 2px;
    text-align: left;
    color: white;
    border-top: 0px;
    border-radius: 5px;
}

.form-control{
    margin-top: 5px;
}

.btn{
    margin-top: 5px;
}

.selecionado{
    background-color: blue;
}

.negrito{
    font-weight: bold;
}