<div class="row" style="margin-top: 50px; margin-right: 20px; align-content: center;">
    <div class="form-outline" style="margin-right: 5px; margin-left: 10px;">
        <ss-searchbar></ss-searchbar>
    </div>
    <div>
        <button class="btn btn-secondary btn-sm">Consultar</button>
        <a class="btn btn-primary btn-sm" href="#!/newUser">Novo</a>
        <a class="btn btn-warning btn-sm" href="#!/editUser">Alterar</a>
        <button class="btn btn-danger btn-sm">Excluir</button>
    </div>
</div>