<nav aria-label="Page navigation"></nav>

<ul class="pagination" ng-if="1 < pages.length">
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }" class="page-item">
        <a href="" class="page-link" ng-click="setCurrent(1)">&laquo;</a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="page-item ng-scope">
        <a href="" class="page-link" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
    </li>
    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
        ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="page-item">
        <a href="" class="page-link" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="page-item ng-scope">
        <a href="" class="page-link" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
    </li>
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="page-item">
        <a href="" class="page-link" ng-click="setCurrent(pagination.last)">&raquo;</a>
    </li>
</ul>