<div class="row" style="margin-top: 25px; margin-right: 0; width: 100vw; max-width: 100%;">
    <div class="col-lg-2" style="width: 50%;">
        <h3>Lista</h3>
    </div>
    <div class="col-lg-10 form-bar" style="width: 50%; float: right;">
        <ss-crudbtn ng-model="search" data="data" selecteduser=""></ss-crudbtn>
    </div>
</div>
<div>
    <ss-table filter="search" data="data"></ss-table>
</div>
<div style="float: right;">
    <dir-pagination-controls 
        max-size = "7"
        direction-links = "true"
        boundary-links = "true"
        class="ml-pagination-numbers"
        template-url="view/dirPagination.tpl.html"></dir-pagination-controls>
</div>