<div class="row" style="margin-top: 30px; width: 100vw; max-width: 100%;">
    <div class="col-lg-5" style=" width: 50%;">
        <h3>Novo</h3>
    </div>
    <div class="col-lg-2 form-bar" style="width: 20%; float: right;">
        <ss-formbtn scopeuser="user" data="$ctrl.receivingData"></ss-formbtn>
    </div>
</div>

<div class="jumbotron">
    <table class="table table-striped table-dark table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <form name="userForm">
                <tr>
                    <td>
                        <div class="form-outline" style="width: 30px;">
                            <input style="width: 80px;" class="form-control form-control-sm" name="id" type="number"
                                disabled ng-model="user.id" ng-required="true">
                        </div>
                    </td>
                    <td>
                        <div class="form-outline">
                            <input class="form-control form-control-sm" name="name" type="text" ng-model="user.name"
                                ng-required="true">
                        </div>
                    <td>
                        <div class="form-outline">
                            <input class="form-control form-control-sm" name="username" type="text"
                                ng-model="user.username" ng-required="true">
                        </div>
                    </td>
                    <td>
                        <div class="form-outline">
                            <input class="form-control form-control-sm" name="password" type="password"
                                ng-model="user.password" ng-required="true">
                        </div>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
{{user}}
<div class="float-right" style="margin-right: 15px;">
    <ss-formbtn scopeuser="user"></ss-formbtn>
</div>