<div class="jumbotron">
    <table class="table table-striped table-dark table-borderless">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            
            <tr dir-paginate="user in $ctrl.receivingData | filter: $ctrl.filter | itemsPerPage: 6 track by user.id">
                <td style="text-align: center;">
                    <div>
                        <input class="form-check-input" type="checkbox" ng-model="user.selected" value="" ng-change="updateSelectedUsers(user)" ng-click="verifyUsersSelected(data)"><a href="#!editUser/{{user.id}}">Go</a>
                    </div> 
                </td>
                <td> {{ ::user.id}} </td>
                <td> {{ ::user.name}} </td>
                <td> {{ ::user.username}} </td>
                <td> {{ user.selected }} </td>
            </tr>
        </tbody>
    </table>
</div>