<div class="jumbotron">
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in $ctrl.users">
                
                <td> <input type="checkbox" ng-model="user.selected" ng-click="verifyUserSelected($ctrl.users)"> </td>
                <td> {{user.id}} </td>
                <td> {{user.name}} </td>
                <td> {{user.username}} </td>
            </tr>
        </tbody>
    </table>
</div>